/*RESET START*/
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    color: #34404b;
    font: 12px/1 'Harmonia_regular', sans-serif;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
ul, ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
img{
    max-width: 100%;
}
input, textarea, button{
    outline: none;
    border: none;
}
textarea{
    resize: vertical;
}
button{
    cursor: pointer;
}
/*RESET END*/

/*DEFAULT CLASSES START*/
.flex-container{
    display: flex;
}
.align-center{
    align-items: center;
}
.justify-sp-between{
    justify-content: space-between;
}
/*DEFAULT CLASSES END*/

/*DEFAULT COMPONENT START*/
.custom-icon{
    display: inline-block;
}
header .top-header{
    border-bottom: 1px solid #edeff1;
    padding: 20px 0;
}
header .top-header .phone-list li + li{
    margin-left: 20px;
}
header .top-header .phone-list li span.custom-icon{
    margin-right: 10px;
}
.social-nav{
    width: 100px;
}
.bottom-header{
    padding: 42px 0;
}
.bottom-header .menu{
    width: 450px;
    font-size: 16px;
    margin-left: 82px;
}
.bottom-header .menu li a:hover{
    color: #ff5912;
    text-decoration: none;
}
.customer-nav{
    width: 125px;
    margin-left: auto;
}
.basket{
    position: relative;
}
.basket-count{
    height: 18px;
    width: 18px;
    background-color: #34404b;
    color: #fff;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;
    font-size: 9px;
    font-weight: 600;
    position: absolute;
    bottom: 24px;
    left: 3px;
}
.bottom-header>.container>.flex-container{
    align-items: center;
}
/*DEFAULT COMPONENT END*/

/*ALL STYLES START*/
/*ALL STYLES END*/